body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.column {
    width: 45%;
}

h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

li:hover {
    background: #ddd;
}

li.selected {
    background: #add8e6;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type="file"],
form input[type="text"],
form button {
    margin: 10px;
    padding: 10px;
    width: 80%;
    max-width: 300px;
}

.execute-job {
    text-align: center;
}

.execute-job form {
    display: inline-block;
    margin-top: 20px;
}

.participants {
    text-align: center;
    margin-top: 40px;
}
