.vscode/
.gradio/
__pycache__/
_build/
.metadata/
data/
results/
.venv/
.settings/

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
.Rhistory
.project

*.toml
*.pkl
